<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>Dinas Pendidikan kabupaten bolaang mongondow</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet"> -->

    <!-- Vendor CSS Files -->
    <link href="../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="../../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../../assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="../../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../../assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="../../assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  
    <link href="../../assets/css/style.css" rel="stylesheet">
  
  </head>
  
  <body>
  
 <!-- ======= Header ======= -->
 <header id="header" class="fixed-top ">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <div class="logoheader d-flex align-items-center">
      <img src="../../assets/img/logobolmong.png" alt="">
      <h1 class="logo"><a href="index.html">DINAS PENDIDIKAN <br> bolaang mongondow</a></h1>
    </div>


    <nav class="nav-menu d-none d-lg-block">

      <ul>
        <li><a href="../../index.html">Beranda</a></li>

        <li class="drop-down"><a href="#">Profil</a>
          <ul>
            <li><a href="../../tugasfungsi.html">Tugas dan Fungsi</a></li>
            <li><a href="../../sambutan.html">Sambutan Kepala Dinas</a></li>
            <li><a href="../../visimisi.html">Visi & Misi</a></li>
            <li><a href="../../struktur.html">Struktur Organisasi</a></li>
          </ul>
        </li>

        <li><a href="../../berita.html">Berita</a></li>
        <li class="drop-down"><a href="#">Standar Pelayanan</a>
              <ul>
                <li class="drop-down"><a href="#">Bidang PAUD DIKMAS</a>
                  <ul>
                    <li><a href="../bidangpaud/izinpembelajaran.html">Izin Pembelajaran Luar Kelas</a></li>
                    <li><a href="../bidangpaud/legalisasiijazah.html">Legalisasi Ijazah Nonformal</a></li>
                    <li><a href="../bidangpaud/penggantiijazah.html">Pengganti Ijazah Nonformal</a></li>
                    <li><a href="../bidangpaud/pembetulanijazah.html">Pembetulan Ijazah/SHUN</a></li>
                    <li><a href="../bidangpaud/izinpendirian.html">Izin Pendirian</a></li>
                  </ul>
                </li>
                <li class="drop-down"><a href="#">Bidang SD</a>
                  <ul>
                    <li><a href="../bidangsd/izinpembelajaran.html">Izin Pembelajaran Luar Kelas</a></li>
                    <li><a href="../bidangsd/legalisasiijazah.html">Legalisasi Ijzah SD</a></li>
                    <li><a href="../bidangsd/mutasisiswa.html">Mutasi Siswa SD</a></li>
                    <li><a href="../bidangsd/penggantiijazah.html">Pengganti Ijazah</a></li>
                    <li><a href="../bidangsd/pembetulanijazah.html">Pembetulan Ijazah/SHUN</a></li>
                    <li><a href="../bidangsd/izinpendirian.html">Izin Pendirian SD</a></li>
                  </ul>
                </li>
                <li class="drop-down active"><a href="#">Bidang SMP</a>
                  <ul>
                    <li><a href="../bidangsmp/izinpembelajaran.html">Izin Pembelajaran Luar Kelas</a></li>
                    <li><a href="../bidangsmp/legalisasiijazah.html">Legalisasi Ijzah SMP</a></li>
                    <li><a href="../bidangsmp/mutasisiswa.html">Mutasi Siswa SMP</a></li>
                    <li><a href="../bidangsmp/penggantiijazah.html">Pengganti Ijazah</a></li>
                    <li><a href="../bidangsmp/pembetulanijazah.html">Pembetulan Ijazah/SHUN</a></li>
                    <li><a href="../bidangsmp/izinpendirian.html">Izin Pendirian SMP</a></li>
                  </ul>
                </li>
                <li class="drop-down"><a href="#">Sekretariat</a>
                  <ul>
                    <li><a href="../../tugasfungsi.html">Pelayanan Data</a></li>
                    <li><a href="../../sambutan.html">Aduan Masyarakat</a></li>
                  </ul>
                </li>
          </ul>
            </li>
            <li class="drop-down"><a href="#">GTK</a>
              <ul>
                <li><a href="../GTK/usuljabatan.html">Usul Jabatan</a></li>
                <li><a href="../GTK/sertifikasiguru.html">Sertifikasi Guru</a></li>
                <li><a href="../GTK/urusankepegawaian.html">Urusan Kepegawaian</a></li>
                <li><a href="../GTK/mutasi.html">Mutasi Antar Daerah</a></li>
                <li><a href="..//GTK/izintugasbelajar.html">Izin dan Tugas Belajar</a></li>
                <li><a href="../GTK/pengajuancuti.html">Pengajuan Cuti</a></li>
              </ul>
            </li>
            <li><a href="https://ppid.bolmongkab.go.id">PPID</a></li>
            <li><a href="../../galeri.html">Dokumentasi</a></li>
            <li><a href="../../kontak.html">Kontak</a></li>
          </ul>

    </nav><!-- .nav-menu -->

  </div>
</header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Legalisasi Ijazah SMP</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Legalisasi Ijazah SMP</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Ekspor dan impor Section ======= -->
    <section id="about" class="about">
      <div class="container">

            <h2>LEGALISASI IJAZAH SMP</h2>
            <h3>-</h3>

      </div>
    </section><!-- End About Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <section id="footer" className="text-center">


    <div className="container">
      <div className="row">
        <div className="col-md-12 col-sm-6 col-xs-12">
          <p>Dinas Pendidikan Kabupaten Bolaang Mongondow</p>
          <p className="copyright-text">Copyright &copy; 2021 by  <a href="#"> E-Government</a> Diskominfo Bolmong</p>
        </div>
      </div>
    </div>
    
  </section>

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="../../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../../assets/vendor/php-email-form/validate.js"></script>
  <script src="../../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../../assets/vendor/venobox/venobox.min.js"></script>
  <script src="../../assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="../../assets/vendor/owl.carousel/owl.carousel.min.js"></script>

  <script src="../../assets/js/main.js"></script>

</body>

</html>